:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
}

.blue {
    color: var(--blue-color);
}

.white {
    color: var(--white-color);
}

a {
    text-decoration: none;
}

.studio,
.contact {
    color: var(--black-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    margin: 0;
}

// .navigation-list a::before {
//     content: "";
//     border-radius: 5px;
//     width: 100%;
//     height: 4px;
//     position: absolute;
//     background-color: var(--blue-color);
//     display: block;
//     bottom: -42px;
// }

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: 4px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

svg {
    fill: #afb1b8;
}

body {
    font-family: 'Roboto', sans-serif;
}

figcaption {
    margin-left: 24px;
    margin-bottom: 20px;
    text-align: justify;
}

@import 'portfolio/untils/variables.scss';
@import 'portfolio/header';
@import 'portfolio/post';
@import 'portfolio/footer';
@import 'portfolio/untils/mixin.scss';
@import 'portfolio/untils/placeholders.scss';