:root {
    --blue-color: #2196F3;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
    --black-color: #212121;
    --gray-color: #757575;
    --gray-background-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

svg {
    fill: #afb1b8;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}



@import 'index/untils/variables.scss';
@import 'index/untils/placeholders.scss';
@import 'index/untils/mixin.scss';
@import 'index/header';
@import 'index/post';
@import 'index/footer';


/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
      width: 960px;
    }
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .container {
      width: 720px;
    }
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .container {
      width: 540px;
    }
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .container {
      width: 100%;
      padding: 0 15px;
    }
  }