:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
}

.portfolio,
.email {
    color: var(--blue-color);
}

.header {
    padding: 25px 0;
}

.studio,
.contact {
    color: var(--black-color);
}

.tel {
    color: var(--gray-color);
}

.all {
    color: var(--white-color);
    background-color: var(--blue-color);
}

ul {
    list-style: none;
}

.technical-support {
    background-color: var(--dark-background-color);
    text-align: left;
    font-weight: 400;
    font-style: normal;
}

footer p {
    color: var(--white-color);
}

footer span {
    color: var(--gray-color);
}

.email-footer {
    color: var(--gray-color);
}

.navigation {
    font-weight: 500;
    font-style: normal;
}

.button {
    font-weight: 500;
    font-style: normal;
}

.technocrat h3 {
    font-weight: 700;
    font-style: normal;
}

.technocrat p {
    font-weight: 400;
    font-style: normal;
}


.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
}

.address {
    padding: 18px 0;
}
.blue {
    color: var(--blue-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 3%;
    padding-bottom: 89px;
}

.technocrat{
    padding: 45px;
}

/* 
font-family: 'Roboto', sans-serif;


.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body {
    font-family: 'Roboto', sans-serif;
}