:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
}


a {
    text-decoration: none;
}

.header {
    padding: 25px 0;
}

.studio,
.contact {
    color: var(--black-color);
}

.tel {
    color: var(--gray-color);
}


.technical-support {
    background-color: var(--dark-background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    padding: 60px 0;
    max-height: 252px;
}

footer p {
    color: var(--white-color);
    
}

footer span {
    color: var(--gray-color);
}

.email-footer {
    color: var(--gray-color);
}

.navigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
}

.navigation-link1{
    color: var(--black-color);
}

.navigation-link1:hover {
    color: var(--blue-color);
}

.navigation-link:hover{
    color: var(--blue-color);
}

.navigation-link {
    color: var(--black-color);
}

.contacts-link1:hover {
    color: var(--blue-color);
}

.contacts-link1{
    color: var(--gray-color);
}

.contacts-link {
    color: var(--gray-color);
}

.contacts-link:hover{
    color: var(--blue-color);
}

.contacts-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    size: 14px;
}

.contacts {
    display: flex;
    list-style: none;
    gap: 50px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 0;
    margin-bottom: 32px;
}

.navigation-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    size: 14px;
}

ul{
    list-style: none;
}

button {
    border: none;
    border-radius: 4px;
  }

  .portfolio-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }


  .portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    margin-top: 90px;
    margin-bottom: 0;
  }

  .portfolio-btn:hover{
    color: var(--white-color);
    background-color: var(--blue-color);
  }


.technocrat h3 {
    font-weight: 700;
    font-style: normal;
}

.technocrat p {
    font-weight: 400;
    font-style: normal;
}

.figure img {
    border-style: none;
    width: 100%;
}

.figure:hover {
    width: 270px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 10px -5px var(--gray-color);
}

.figure {
    margin: 0;
    flex-basis: calc((100% - 60px) / 3);
    outline: 1px solid #EEEEEE;
}


.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
}

.address {
    flex-direction: column;
    display: block;
    gap: 9px;
    flex-wrap: wrap;
}

.white {
    color: var(--white-color);
}

.blue {
    color: var(--blue-color);
}

.information{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    max-width: 170px;
}

.email {
    color: var(--gray-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    margin: 0;


}

.technocrat {
    margin-bottom: 94px;

}

.technocrat-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    padding: 0;

}

.contacts-link1:hover {
    color: #2196F3;
}


.icon-navigation{
    margin-right: 10px;
}

.icon-navigation:hover{
    fill: #2196F3;
}

.icon-staff {
    width: 20px;
    height: 20px;
}

.footer-icons {
    width: 206px;
    height: 80px;
    box-sizing: border-box;
    margin-left: 70px;
}

.footer-icons h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-people-icons {
    display: flex;
}

.flex-container-footer {
    display: flex;
    align-items: flex-start;
}

.people-link-footer {
    padding: 12px;
    height: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 25px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}

.people-link-footer:hover {
    background-color: #2196F3;
}

svg{
    fill: #afb1b8;
}

/* 
font-family: 'Roboto', sans-serif;


.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body {
    font-family: 'Roboto', sans-serif;
}

figcaption {
    margin-left: 24px;
    margin-bottom: 20px;
    text-align:justify;
}