:root {
    --blue-color: #2196F3;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
    --black-color: #212121;
    --gray-color: #757575;
    --gray-background-color: #F5F4FA;

}

.white {
    color: var(--white-color);
}

.email {
    color: var(--gray-color)
}

.tel {
    color: var(--gray-color)
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.efection-solutions {
    background-color: var(--dark-background-color);
    margin: 0;
    text-align: center;
    padding: 200px 0;
}

.efection-solutions h1 {
    color: var(--white-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    flex-wrap: wrap;
    width: 696px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    margin: 0;
}

.blue {
    color: var(--blue-color);
}

.navigation-link1:hover {
    color: var(--blue-color);
}

.navigation-link1 {
    color: var(--black-color);
    font-size: 16px;
}

.navigation-link:hover {
    color: var(--blue-color);
}

.navigation-link {
    color: var(--black-color);
    font-size: 16px;
}

.contacts-link1 {
    color: var(--gray-color);
    font-size: 16px;
}

.contacts-link1:hover {
    color: var(--blue-color);
}

.contacts-link:hover {
    color: var(--blue-color);
}

.contacts-link {
    color: var(--gray-color);
    font-size: 16px;
}

.contacts {
    display: flex;
    list-style: none;
    gap: 50px;
}

.button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;


}

.attention-to-detail ul {
    padding: 94px 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    gap: 30px;

}

.attention-to-detail-foto::before {
    content: "";
    display: block;
    background-image: url("./img/antenna\ 1.png");
    background-color: var(--gray-background-color);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
}

.attention-to-detail-foto1::before {
    content: "";
    display: block;
    background-image: url("./img/clock\ 1.png");
    background-color: var(--gray-background-color);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
}

.attention-to-detail-foto2::before {
    content: "";
    display: block;
    background-image: url("./img/diagram\ 1.png");
    background-color: var(--gray-background-color);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
}

.attention-to-detail-foto3::before {
    content: "";
    display: block;
    background-image: url("./img/astronaut\ 1.png");
    background-color: var(--gray-background-color);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
}



.attention-to-detail h4 {
    color: var(--black-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;

}

.attention-to-detail p {
    color: var(--gray-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: justify;
}

.work h1 {
    color: var(--black-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.work-list {
    list-style: none;
    padding: 36px 0;
    display: flex;
    gap: 30px;
}

.staff {
    padding: 94px 0;
    background-color: var(--gray-background-color);
}

.staff h1 {
    color: var(--black-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;


}

.team-list {
    padding: 30px 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.list-item {
    width: 270px;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 10px -5px var(--gray-color);
    background-color: white;
}

.photo {
    width: 270px;
    height: 260px;
}

.staff h3 {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
}

.team-wrap {
    text-align: center;
    
}

.staff p {
    line-height: 1.18;
    font-size: 16px;
    color: var(--gray-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.technical-support {
    background-color: var(--dark-background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    padding: 60px 0;

}

.information {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    max-width: 170px;
}

.address {
    padding: 18px 0;
    flex-direction: column;
    flex-wrap: wrap;
}

footer p {
    color: var(--white-color);
    margin-bottom: 0;
}

footer span {
    color: var(--gray-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

.navigation {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: justify;

}

ul {
    list-style: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
}


/* .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */