:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --dark-background-color: #2F303A;
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.portfolio,
.email {
    color: var(--blue-color);
}

.header {
    padding: 25px 0;
}

.studio,
.contact {
    color: var(--black-color);
}

.tel {
    color: var(--gray-color);
}

.all {
    color: var(--white-color);
    background-color: var(--blue-color);
}

ul {
    list-style: none;
}

.technical-support {
    background-color: var(--dark-background-color);
    text-align: left;
    font-weight: 400;
    font-style: normal;
}

footer p {
    color: var(--white-color);
}

footer span {
    color: var(--gray-color);
}

.email-footer {
    color: var(--gray-color);
}

.navigation {
    font-weight: 500;
    font-style: normal;
}

.navigation-link1 {
    color: var(--blue-color);
}

.navigation-link {
    color: var(--black-color);
}

.contacts-link1 {
    color: var(--blue-color);
}

.contacts-link {
    color: var(--gray-color);
}

.contacts {
    display: flex;
    list-style: none;
    padding-bottom: 89px;
    gap: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 89px;
}

.button {
    font-weight: 500;
    font-style: normal;
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 8px;

}

.technocrat h3 {
    font-weight: 700;
    font-style: normal;
}

.technocrat p {
    font-weight: 400;
    font-style: normal;
}

.figure img {
    border-style: none;
    width: 100%;
}

.figure:nth-child(1){
    width: 270px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 10px -5px var(--gray-color);
}

.figure {
    margin: 0;
    flex-basis: calc((100% - 60px) / 3);
}


.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
}

.address {
    padding: 18px 0;
    flex-direction: column;
}

.white {
    color: var(--white-color);
}

.blue {
    color: var(--blue-color);
}

.email {
    color: var(--gray-color)
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 3%;
    padding-bottom: 89px;
}

.technocrat {
    padding: 45px 0;

}

.technocrat-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    padding: 0;

}

/* 
font-family: 'Roboto', sans-serif;


.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body {
    font-family: 'Roboto', sans-serif;
}