$blue-color: #2196F3;
$dark-background-color:#2F303A;
$white-color: #FFFFFF;
$black-color: #212121;
$gray-color: #757575;
$gray-background-color: #F5F4FA;
$svg-fill: #afb1b8;
$only-black:black;
$border-black:rgba(0, 0, 0, 0.1);
$modal-border-black:#2a2a2a;