.header {
    padding: 25px 0;

    svg {
        fill: $gray-color;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    position: relative;

    a {
        &::before {
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: 0;
            transition: 0.5s transform ease;
            transform: scale3d(0, 1, 1);
            transform-origin: 0 50%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            background-color: $blue-color;
            display: block;
            border-radius: 5px;
            bottom: -42px;
            transform-origin: 50% 50%;
        }

        &:hover::before {
            transform: scale3d(1, 1, 1);
        }
    }
}

.navigation-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    size: 14px;
    font-size: 16px;
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link {
    color: $black-color;
    font-size: 16px;
    position: relative;

    &:hover {
        color: $blue-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.contacts {
    display: flex;
    list-style: none;
    gap: 50px;
}

.contacts-item {
    font-size: 16px;
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link1 {
    color: $gray-color;
    font-size: 16px;

    svg {
        &:hover {
            fill: $blue-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &:hover {
        color: $blue-color;
    }
}

.contacts-link {
    color: $gray-color;
    font-size: 16px;

    &:hover {
        color: $blue-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    svg {
        :hover {
            fill: $blue-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.portfolio-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    margin-top: 90px;
    margin-bottom: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $white-color;
        background-color: $blue-color;
        -webkit-box-shadow: 0px 20px 40px -10px $gray-color;
        -moz-box-shadow: 0px 20px 40px -10px $gray-color;
        box-shadow: 0px 20px 40px -10px $gray-color;
    }
}

.icon-navigation {
    margin-right: 10px;

    &:hover {
        fill: $blue-color;
    }
}