.portfolio-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn {
    @include weight(500);
    @include font(16px);
    line-height: 1.5;
    padding: 12px 24px;
    margin-top: 90px;
    margin-bottom: 0;
    cursor: pointer;
   @include transition(background-color)
}

.card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white-color;
    background-color: $blue-color;
    padding: 30px;
    @include font(18px);
    @include weight(400);
    line-height: 28px;
    letter-spacing: 0.03em;
    height: 290px;
    transition: transform 250ms ;
}

.figure-overlay .card-overlay {
    transform: translateY(100%);
}

.thumb {
    width: 100%;
    @include transition(color)
}

.figure:hover .card-overlay {
    transform: translateY(0%);
    font-size: 18px;
}

.figure-overlay {
    overflow: hidden;
    position: relative;
}

.figure {
    margin: 0;
    flex-basis: calc((100% - 60px) / 3);
    outline: 1px solid $outline-white;
    cursor: pointer;

    &:hover {
        width: 270px;
        margin: 0px;
        padding: 0px;
        box-shadow: 0 5px 10px -5px $gray-color;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    img {
        border-style: none;
        width: 100%;
    }
}

.technocrat {
    margin-bottom: 94px;

    p {
        @include weight(400);
    }

    h3 {
        @include weight(700);
    }
}

.technocrat-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    padding: 0;
}