.efection-solutions {
    background-color: $dark-background-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(40, 50, 60, 0.5)), url("./img/Img\ \(13\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    text-align: center;
    padding: 200px 0;

    h1 {
        color: $white-color;
        line-height: 1.36;
        text-align: center;
        @include font(44px);
        font-weight: 900;
        flex-wrap: wrap;
        width: 696px;
        height: 120px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.attention-to-detail-foto,
.attention-to-detail-foto1,
.attention-to-detail-foto2,
.attention-to-detail-foto3 {
    &::before {
        @extend %attention-foto;
    }
}

.attention-to-detail h4 {
    @include font(14px);
    color: $black-color;
    line-height: 1.14;
    text-align: start;
    font-weight: 700;
    text-transform: uppercase;

    ul {
        padding: 94px 0;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        gap: 30px;
    }

    p {
        @include font(14px);
        color: $gray-color;
        font-weight: 400;
        line-height: 1.71;
        text-align: justify;
    }
}

.work h1 {
    color: $black-color;
    @include font(36px);
    line-height: 1.16;
    text-align: center;
    font-weight: 700;
}

.work-list {
    list-style: none;
    padding: 36px 0;
    display: flex;
    gap: 30px;
}

.label {
    @include font(14px);
    position: relative;
    bottom: 22.5%;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: $white-color;
    background-color: $dark-background-color;
    opacity: 1;
}

.staff {
    padding: 94px 0;
    background-color: $gray-background-color;

    h1 {
        color: $black-color;
        @include font(36px);
        line-height: 1.16;
        text-align: center;
        font-weight: 700;
    }

    h3 {
        color: $black-color;
        @include font(16px);
        font-weight: 500;
        line-height: 1.18;
    }

    p {
        line-height: 1.18;
        @include font(16px);
        color: $gray-color;
        font-weight: 400;
    }
}

.team-list {
    padding: 30px 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.list-item {
    width: 270px;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 10px -5px $gray-color;
    background-color: $white-color;
}

.photo {
    width: 270px;
    height: 260px;
}

.team-wrap {
    text-align: center;
}

.icon-staff {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.people-icons {
    display: flex;
    justify-content: center;
}

.people-link {
    padding: 12px;
    height: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 25px;
    margin-right: 10px;
    @include transit(background-color);

    &:hover {
        background-color: $blue-color;
    }

    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
        @include transit(fill);

        &:hover {
            fill: $white-color;
        }
    }
}

.icons-customer-regular h2 {
    @include font(36px);
    font-weight: 700;
    color: $black-color;
    display: flex;
    justify-content: center;
}

.customers-icon {
    display: flex;
    justify-content: space-between;
}

.people-link-regular {
    width: 170px;
    height: 92px;
    margin-bottom: 94px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid $svg-fill;
    border-radius: 5px;
    @include transit(border-color);

    &:hover {
        outline: 2px solid $blue-color;
    }

    a {
        &:hover {
            fill: $blue-color;
        }
    }

    svg {
        &:hover {
            fill: $blue-color;
        }
    }
}

.icon-regular-customers {
    width: 106px;
    height: 60px;
    @include transit(fill);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    opacity: 1;
    @include transit(opacity);

    .is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 530px;
    max-height: 580px;
    padding: 20px;
    background-color: $white-color;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-sizing: border-box;

    h4 {
        font-weight: 400;
        @include font(12px);
        color: $gray-color;
        margin-bottom: 5px;
        margin-right: 350px;
        margin-top: 15px;
    }
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        @include font(20px);
        font-weight: 700;
        color: $black-color;
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.btn {
    border-radius: 50px;
    color: $only-black;
    border: 1px solid $border-black;

    &:hover {
        color: $blue-color;
        border: 1px solid $blue-color;
    }
}

.btn-open {
    color: $black-color;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: $blue-color;
    color: $white-color;
    border-radius: 10px;
    width: 200px;
    @include font(16px);
    line-height: 1.87;
    text-align: center;
    font-weight: 700;

    &:disabled {
        pointer-events: none;
    }
}

.modal-defs {
    width: 18px;
    height: 18px;
    margin-left: 12px;
}

.text-modal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    @include font(14px);
    line-height: 24px;
    font-weight: 400;
    color: $gray-color;

    p {
        margin-right: 5px;
    }

    a {
        color: $blue-color;
        text-decoration-line: underline;
    }
}

input#checkbox {
    width: 15px;
    height: 16px;
    margin-left: 25px;
    margin-right: 10px;
}

.checkbox-modal {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 425px;

    p {
        color: $gray-color;
        margin-right: 5px;
    }

    a {
        color: $blue-color;
        text-decoration-line: underline;
    }
}

.form-btn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: $blue-color;
    color: $white-color;
    border-radius: 10px;
    font-weight: 700;
    @include font(14px);
    border: 1px solid $blue-color;
    cursor: pointer;
}

.form-input {
    width: 360px;
    padding: 10px;
    border: none;

    &:focus {
        outline: none;
        border-color: $blue-color;
    }
}

.person-modal-name,
.phone-modal-tel,
.email-modal-label,
.comment-modal {
    display: flex;
    align-items: center;
    border: 1px solid $modal-border-black;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-left: 5px;
    box-sizing: border-box;

    &:hover {
        border-color: $blue-color;
    }
}

.person-modal-name svg,
.phone-modal-tel svg,
.email-modal-label svg {
    margin-right: 10px;
    fill: $gray-color;

    &:hover {
        fill: $blue-color;
    }

    &:focus-within {
        border-color: $blue-color;
        fill: $blue-color;
    }
}

.form-input {
    border-color: $blue-color;
}

.comment-modal {
    height: 130px;

    textarea {
        border: none;
        resize: none;
        @include font(14px);
        border-radius: 5px;
        font-weight: 400;
        color: $gray-color;
        height: 120px;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &:focus-within {
            border-color: $blue-color;
        }
    }
}
@each $attention in foto, foto1, foto2, foto2 {
    .#{$attention}-to-detail {
        background-image: url('../img/#{$attention}.png');
    }
}